body {
  height: 6000px;
  font-family: 'Bree Serif', serif;
}

.whiteBackground {
  background-color: black !important;
}

.element {
  z-index: 5555;
  min-height: 170px;
  color: #e86c5c;
  font-size: 24px;
  text-transform: uppercase;
}

.colered {
  color: #e86c5c;
}

.overlay, header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 18, 29, 0.8);
}

.co-navbar {
  position: fixed;
  top: 0;
  z-index: 99999999;
  text-align: center;
  padding: 10px  25px;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
}

.co-navbar .bars {
  color: white;
}

.co-navbar .co-links li {
  position: relative;
  max-width: 0 2px;
}

.co-navbar .co-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: transparent;
  left: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.co-navbar .co-links li:hover::after {
  background-color: white;
  width: 100%;
}

.co-navbar .co-links li a {
  color: white !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.co-navbar > a {
  color: white !important;
  text-transform: uppercase;
}

.co-navbar > a img {
  width: 35px;
}

header {
  -moz-background-image: url(`../img/virus-4937553_1920.jpg`);
  background-image: url(../img/virus-4937553_1920.jpg);
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  height: 550px;
}

header .texts {
  color: white;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .texts .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

header .texts .row .new-today {
  text-align: center;
  margin: 0 13px;
  font-size: 20px;
  text-transform: capitalize;
}

header .texts .row .new-today div:first-child {
  margin: 20px 0;
}

header .texts .row .new-today div:last-child {
  color: #e86c5c;
}

header .texts p {
  font-size: 27px;
  font-weight: 500;
}

header .texts span + span {
  color: #e86c5c;
  font-size: 40px;
  font-weight: 600;
}

header .texts span {
  font-size: 30px;
  font-weight: 400;
}

header .texts span span {
  color: #e86c5c;
}

.navbar-light .navbar-toggler {
  border-color: white;
}

.statistics {
  background-color: white;
  position: relative;
  height: 300px;
}

.statistics ul#foo {
  background-color: #e86c5c;
  width: 75%;
  margin: auto;
  position: absolute;
  left: 12.5%;
  top: -60px;
  padding: 70px 15px;
  min-height: 200px;
}

.statistics ul#foo li {
  list-style: none;
  text-align: center;
  color: white;
  font-size: 27px;
  text-transform: capitalize;
}

@media (min-width: 1200px) {
  .co-navbar .co-links li a {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .co-navbar {
    background-color: #000;
  }
  .co-navbar .co-links {
    background-color: #000;
  }
  .co-navbar .co-links li:hover::after {
    background-color: transparent;
  }
  .co-navbar .co-links li a {
    font-size: 18px;
  }
  header {
    height: 1000px;
  }
  header h1 {
    margin-top: 100px;
    font-size: 30px;
  }
  header .texts {
    width: 80%;
    margin: auto;
  }
  header .texts .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */