$mainColor:white;
$seconColor:#e86c5c;
// start general rules
body{
    height: 6000px;
font-family: 'Bree Serif', serif;
}
.whiteBackground{
    background-color: black !important;
}

.element{

    z-index: 5555;
    min-height: 170px;
    color: $seconColor;
    font: {
    size:24px
    };
    text-transform: uppercase;
}
.colered{
    color: $seconColor;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 18, 29, 0.8);
}
// end   nav bar rules
.co-navbar{
    position: fixed;
    top: 0;
    z-index: 99999999;
    text-align: center;
    padding: 10px  25px;
    transition: .2s;
    width: 100%;
    .bars{
        color: $mainColor;
    }
    .co-links{
        li{
            position: relative;
            max-width: 0 2px;
            &::after{
                content: "";
                width: 0%;
                height: 2px;
                position: absolute;
                background-color: transparent;
                left: 0;
                bottom: 0;
                transition: .4s;
            }

                &:hover::after{
                    background-color: white;
                    width: 100%;
            }

            a{
                color: $mainColor !important;
                font: {
                size: 14px;
            };

            font: {
                weight:600
                };
                text-transform: uppercase;

            }
        }
    }
    >a{
        color: $mainColor !important;
        text-transform: uppercase;
    img{
        width: 35px;
    }
    }
}
// end   nav bar rules

// start header rule
header{
    -moz-background-image: url(`../img/virus-4937553_1920.jpg`);
    background-image: url(../img/virus-4937553_1920.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    height: 550px;
        .texts{
        color: white;
        position: relative;
        text-align: center;
        display: flex;
        height: 90%;
        flex-direction: column;
        justify-content: flex-end;
        .row{
            justify-content: center;
            margin: 25px 0;
            .new-today{
                text-align: center;
                margin:0 13px;
                font-size: 20px;
                text-transform: capitalize;
                    div:first-child{
                        margin: 20px 0;
                    }
                    div:last-child{
                        color: $seconColor;
                    }
            }
        }
        p{
            font: {
                size: 27px;
                weight:500
            }   
        }
        span + span{
            color: $seconColor;
            font: {
            size: 40px;
            weight:600
            }
        }
        span{
            font: {
                size: 30px;
                weight:400
            }
            span{
                color: $seconColor;
            }
        }

    }
    .overlay{
    @extend .overlay;
    }

}
.navbar-light .navbar-toggler{
border-color: $mainColor;
}

// end   header rule

// start statistics rules
.statistics{
    background-color: $mainColor;
    position: relative;
    height: 300px;
    ul#foo{
        background-color: $seconColor;
        // height: 250px;
        width: 75%;
        margin: auto;
        position: absolute;
        left: 12.5%;
        top: -60px;
        padding: 70px 15px;
        min-height: 200px;
        li{
            list-style: none;
            text-align: center;
            color: white;
            font-size: 27px;
            text-transform: capitalize;

        }
    }
    .feached-ul{
        li{
        }
    }

}
// end   statistics rules


















@media(min-width:'1200px'){
    .co-navbar{
        .co-links{
        li{
            a{
                font: {
                size: 17px;
                };
            }
        }
        }
    }
}
@media(max-width:'992px'){
    .co-navbar{
    background-color: #000;

    .co-links{
        background-color: #000;
        li{
            &:hover::after{
            background-color: transparent;
            }
            a{
            font: {
                size: 18px;
            };
            }
        }
    }
}

header{
    height: 1000px;
    h1{
        margin-top: 100px;
        font: {
        size: 30px;
        };
    }

    .texts{
    width: 80%;
    margin: auto;
    .row{

    flex-direction: column;               
 }
}
}
}